<div id="language_chooser">
  Choose Language:<br/>
  <a class="choose_language choose_english"
  href="/en<%= request.fullpath%>/currency/usd"><b>ENGLISH</b></a>| 
  <a class="choose_language choose_japanese"
  href="/ja<%= request.fullpath%>/currency/jpy"><b>JAPANESE</b></a>
  
</div>