<div id="language_chooser">
  Choose Language:<br/>
  <a class="choose_language choose_english"
  href="/en<%= request.fullpath%>"><b>ENGLISH</b></a>|
  <a class="choose_language choose_japanese"
  href="/ja<%= request.fullpath%>"><b>JAPANESE</b></a>

</div>
<div id="language_chooser">
  Change Currency:<br/>
  <a class="choose_language choose_english"
  href="/en/currency/usd"><b>USD</b></a>|
  <a class="choose_language choose_japanese"
  href="/ja/currency/jpy"><b>JPY</b></a>
    
</div>