<div id="language_chooser">
  Choose Language:<br/>
  <a class="choose_language choose_english"
  href="/en<%= request.fullpath%>">ENGLISH</a><br/> 
  <a class="choose_language choose_japanese"
  href="/ja<%= request.fullpath%>">JAPANESE</a>
  
</div>